<head>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:700|Open+Sans' rel='stylesheet' type='text/css'>
  <meta charset="utf-8"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}} || {{site.title}}</title>
  {%- seo -%}
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
  {%- feed_meta -%}
  <script src="/javascripts/modernizr.foundation.js"></script>
</head>
